#default-theme {
  width: 300px;
  margin-top: 100px;
  margin-left: 100px;
  position: relative;
}
#default-theme .ng-select-label {
  position: absolute;
  top: -11px;
  font-size: 13px;
  background-color: #ffffff;
  left: 10px;
  padding: 0 3px;
  z-index: 2;
}
#default-theme .check-icon {
  color: rgb(0, 0, 0);
  margin-right: 10px;
}
/* Customize the dropdown item */
#default-theme .custom-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}
/* Customize the selected value display */
.custom-selected {
  display: flex;
  align-items: center;
}
