<!-- Default Theme -->
<div style="width: 300px">
    <h4 style="text-align: center; margin-bottom: 30px">Default label theme</h4>
    <div style="display: flex; flex-direction: column; gap: 20px" class="form-group default-theme tooltip-top-right">
        <div>
            <label for="input1" class="default-theme-label">User</label>
            <div class="input-container">
                <input id="input2" type="text" class="form-input" placeholder="" />
                <label for="input2" class="form-label">User</label>
                <i class="input-icon"><img class="icon" src="assets/images/feather-icon.png" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Choose File</label>
            <div class="input-container">
                <input id="input2" type="file" class="form-input  " placeholder=" " />
                <label for="input2" class="form-label">Choose File</label>
                <i class="input-icon"><img class="icon" src="assets/images/file-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>
        <div>
            <label for="input1" class="default-theme-label">Number Input</label>
            <div class="input-container">
                <input id="input2" type="number" class="form-input" placeholder=" " />
                <label for="input2" class="form-label">Number Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/number-input-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>
        <div>
            <label for="input1" class="default-theme-label">Date Range Picker</label>
            <div class="input-container">
                <input class="form-input" id="input2" type="text" name="datetimes" value="10/24/1984" />
                <label for="weekInput" class="form-label">Date Range Picker</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Date Time Picker</label>
            <div class="input-container">
                <input class="form-input" id="datetimepicker1" type="text" value="10/24/1984" />
                <label for="weekInput" class="form-label">Date Time Picker</label>
                <i class="input-icon"><img class="icon" src="assets/images/i-schedule-school-date-time-svgrepo-com.svg"
                        alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>
        <!-- Textarea -->
        <div>
            <label for="input1" class="default-theme-label">Text Area</label>
            <div class="input-container">
                <textarea class="form-input" placeholder="" rows="3"></textarea>
                <label for="weekInput" class="form-label">Text Area</label>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <!-- URL Input -->
        <div>
            <label for="input1" class="default-theme-label">URL Input</label>
            <div class="input-container">
                <input type="url" class="form-input" placeholder="" />
                <label for="weekInput" class="form-label">URL Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/file-url-1759-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>
        <!-- Telephone Input -->
        <div>
            <label for="input1" class="default-theme-label">Telephone input</label>
            <div class="input-container">
                <input type="tel" id="telInput" class="form-input" placeholder=" " />
                <label for="weekInput" class="form-label">Telephone input</label>
                <i class="input-icon"><img class="icon" src="assets/images/telephone-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <!-- Search Input -->
        <div>
            <label for="input1" class="default-theme-label">Search Input</label>
            <div class="input-container">
                <input type="search" id="searchInput" class="form-input" placeholder=" " />
                <label for="weekInput" class="form-label">Search Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/search-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <!-- Date Input -->
        <div>
            <label for="input1" class="default-theme-label">Date Input</label>
            <div class="input-container">
                <input type="date" id="dateInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Date Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">NG Select</label>
            <div class="input-container">
                <ng-select id="ng-select" class="form-input border-0" [items]="cars" bindLabel="name" bindValue="id"
                    [clearable]="true" placeholder="Select an Option" [(ngModel)]="selectedCar"
                    [ngModelOptions]="{ standalone: true }">
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <div class="custom-option">
                            <span class="item-label">{{ item.name }}</span>
                            <span *ngIf="selectedCar === item.id" class="check-icon">&#10003;</span>
                        </div>
                    </ng-template>
                </ng-select>
                <label for="weekInput" class="form-label">Single Select</label>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">NG Multiselect</label>
            <div class="input-container">
                <ng-multiselect-dropdown id="ng-multiselect" class="form-input border-0"
                    [placeholder]="'custom placeholder'" [settings]="dropdownSettings" [data]="dropdownList"
                    [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                    [ngModelOptions]="{ standalone: true }">
                </ng-multiselect-dropdown>
                <label for="weekInput" class="form-label">Multi Select</label>
                <i class="input-icon multi"><img class="icon multi" src="assets/images/angle-down-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>
        <!-- Time Input -->
        <div>
            <label for="input1" class="default-theme-label">Time Input</label>
            <div class="input-container">
                <input type="time" id="timeInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Time Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/time-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <!-- Datetime-local Input -->
        <div>
            <label for="input1" class="default-theme-label">Date Time Local</label>
            <div class="input-container">
                <input type="datetime-local" id="datetimeInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Date Time Local</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <!-- Month Input -->
        <div>
            <label for="input1" class="default-theme-label">Month Input</label>
            <div class="input-container">
                <input type="month" id="monthInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Month Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <!-- Week Input -->
        <div>
            <label for="input1" class="default-theme-label">Week Input</label>
            <div class="input-container">
                <input type="week" id="weekInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Week Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Check box</label>
            <div class="input-container">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Checked checkbox
                    </label>
                </div>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Radio buttons</label>
            <div class="input-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Default checked radio
                    </label>
                </div>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">This field is required <span>*</span></label>
        </div>
    </div>
</div>

<!-- Floating Theme -->
<div style="width: 300px">
    <h4 style="text-align: center; margin-bottom: 54px">Floating label theme</h4>
    <div style="display: flex; flex-direction: column; gap: 44px" class="form-group floating-theme tooltip-right">
        <div>
            <label for="input1" class="default-theme-label">User</label>
            <div class="input-container">
                <input id="input2" type="text" class="form-input validation-border" placeholder="" />
                <label for="input2" class="form-label">User</label>
                <i class="input-icon"><img class="icon" src="assets/images/feather-icon.png" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Choose File</label>
            <div class="input-container">
                <input id="input2" type="file" class="form-input validation-border" placeholder=" " />
                <label for="input2" class="form-label">Choose File</label>
                <i class="input-icon"><img class="icon" src="assets/images/file-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>
        <div>
            <label for="input1" class="default-theme-label">Number Input</label>
            <div class="input-container">
                <input id="input2" type="number" class="form-input validation-border" placeholder=" " />
                <label for="input2" class="form-label">Number</label>
                <i class="input-icon"><img class="icon" src="assets/images/number-input-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>
        <div>
            <label for="input1" class="default-theme-label">Date Range Picker</label>
            <div class="input-container">
                <input class="form-input validation-border" id="input2" type="text" name="datetimes" value="10/24/1984" />
                <label for="weekInput" class="form-label">Date Range Picker</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Date Time Picker</label>
            <div class="input-container">
                <input class="form-input validation-border" id="datetimepicker2" type="text" value="10/24/1984" />
                <label for="weekInput" class="form-label">Date Time Picker</label>
                <i class="input-icon"><img class="icon" src="assets/images/i-schedule-school-date-time-svgrepo-com.svg"
                        alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>
        <!-- Textarea -->
        <div>
            <label for="input1" class="default-theme-label">Text Area</label>
            <div class="input-container">
                <textarea class="form-input validation-border" placeholder="" rows="3"></textarea>
                <label for="weekInput" class="form-label">Text Area</label>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <!-- URL Input -->
        <div>
            <label for="input1" class="default-theme-label">URL Input</label>
            <div class="input-container">
                <input type="url" class="form-input validation-border" placeholder="" />
                <label for="weekInput" class="form-label">URL Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/file-url-1759-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>
        <!-- Telephone Input -->
        <div>
            <label for="input1" class="default-theme-label">Telephone input</label>
            <div class="input-container">
                <input type="tel" id="telInput" class="form-input validation-border" placeholder=" " />
                <label for="weekInput" class="form-label">Telephone input</label>
                <i class="input-icon"><img class="icon" src="assets/images/telephone-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <!-- Search Input -->
        <div>
            <label for="input1" class="default-theme-label">Search Input</label>
            <div class="input-container">
                <input type="search" id="searchInput" class="form-input validation-border" placeholder=" " />
                <label for="weekInput" class="form-label">Search Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/search-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <!-- Date Input -->
        <div>
            <label for="input1" class="default-theme-label">Date Input</label>
            <div class="input-container">
                <input type="date" id="dateInput" class="form-input validation-border" placeholder=" " />
                <label for="weekInput" class="form-label">Date Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">NG Select</label>
            <div class="input-container">
                <ng-select id="ng-select" class="form-input validation-border" [items]="cars" bindLabel="name" bindValue="id"
                    [clearable]="true" placeholder="Select an Option" [(ngModel)]="selectedCar1"
                    [ngModelOptions]="{ standalone: true }">
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <div class="custom-option">
                            <span class="item-label">{{ item.name }}</span>
                            <span *ngIf="selectedCar1 === item.id" class="check-icon">&#10003;</span>
                        </div>
                    </ng-template>
                </ng-select>
                <label for="weekInput" class="form-label">Single Select</label>
                <!-- <i class="input-icon">🔽</i> -->
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">NG Multiselect</label>
            <div class="input-container border-0">
                <ng-multiselect-dropdown id="ng-multiselect" class="form-input validation-border"
                    [placeholder]="'custom placeholder'" [settings]="dropdownSettings1" [data]="dropdownList1"
                    [(ngModel)]="selectedItems1" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                    [ngModelOptions]="{ standalone: true }">
                </ng-multiselect-dropdown>
                <label for="weekInput" class="form-label">Multi Select</label>
                <i class="input-icon multi"><img class="icon multi" src="assets/images/angle-down-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>
        <!-- Time Input -->
        <div>
            <label for="input1" class="default-theme-label">Time Input</label>
            <div class="input-container">
                <input type="time" id="timeInput" class="form-input validation-border" placeholder=" " />
                <label for="weekInput" class="form-label">Time Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/time-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <!-- Datetime-local Input -->
        <div>
            <label for="input1" class="default-theme-label">Date Time Local</label>
            <div class="input-container">
                <input type="datetime-local" id="datetimeInput" class="form-input validation-border" placeholder=" " />
                <label for="weekInput" class="form-label">Date Time Local</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <!-- Month Input -->
        <div>
            <label for="input1" class="default-theme-label">Month Input</label>
            <div class="input-container">
                <input type="month" id="monthInput" class="form-input validation-border" placeholder=" " />
                <label for="weekInput" class="form-label">Month Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <!-- Week Input -->
        <div>
            <label for="input1" class="default-theme-label">Week Input</label>
            <div class="input-container">
                <input type="week" id="weekInput" class="form-input validation-border" placeholder=" " />
                <label for="weekInput" class="form-label">Week Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Check box</label>
            <div class="input-container">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label" for="flexCheckChecked">
                        Checked checkbox
                    </label>
                </div>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Label</label>
            <div class="input-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Default checked radio
                    </label>
                </div>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>
    </div>
</div>

<!-- Inside Floating Theme -->
<div style="width: 300px">
    <h4 style="text-align: center; margin-bottom: 54px">
        Inner floating label theme
    </h4>
    <div style="display: flex; flex-direction: column; gap: 44px"
        class="form-group inside-floating-theme tooltip-top-right">
        <div>
            <label for="input1" class="default-theme-label">User</label>
            <div class="input-container">
                <input id="input2" type="text" class="form-input" placeholder=" " />
                <label for="input2" class="form-label">User</label>
                <i class="input-icon"><img class="icon" src="assets/images/feather-icon.png" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Choose File</label>
            <div class="input-container">
                <input id="input2" type="file" class="form-input  " placeholder=" " />
                <label for="input2" class="form-label">Choose File</label>
                <i class="input-icon"><img class="icon" src="assets/images/file-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>
        <div>
            <label for="input1" class="default-theme-label">Number Input</label>
            <div class="input-container">
                <input id="input2" type="number" class="form-input" placeholder=" " />
                <label for="input2" class="form-label">Number</label>
                <i class="input-icon"><img class="icon" src="assets/images/number-input-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>
        <div>
            <label for="input1" class="default-theme-label">Date Range Picker</label>
            <div class="input-container">
                <input class="form-input" id="input2" type="text" name="datetimes" value="10/24/1984" />
                <label for="weekInput" class="form-label">Date Range Picker</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Date Time Picker</label>
            <div class="input-container">
                <input class="form-input" id="datetimepicker3" type="text" value="10/24/1984" />
                <label for="weekInput" class="form-label">Date Time Picker</label>
                <i class="input-icon"><img class="icon" src="assets/images/i-schedule-school-date-time-svgrepo-com.svg"
                        alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>
        <!-- Textarea -->
        <div>
            <label for="input1" class="default-theme-label">Text Area</label>
            <div class="input-container">
                <textarea class="form-input" placeholder="" rows="3"></textarea>
                <label for="weekInput" class="form-label">Text Area</label>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <!-- URL Input -->
        <div>
            <label for="input1" class="default-theme-label">URL Input</label>
            <div class="input-container">
                <input type="url" class="form-input" placeholder="" />
                <label for="weekInput" class="form-label">URL Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/file-url-1759-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>
        <!-- Telephone Input -->
        <div>
            <label for="input1" class="default-theme-label">Telephone input</label>
            <div class="input-container">
                <input type="tel" id="telInput" class="form-input" placeholder=" " />
                <label for="weekInput" class="form-label">Telephone input</label>
                <i class="input-icon"><img class="icon" src="assets/images/telephone-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <!-- Search Input -->
        <div>
            <label for="input1" class="default-theme-label">Search Input</label>
            <div class="input-container">
                <input type="search" id="searchInput" class="form-input" placeholder=" " />
                <label for="weekInput" class="form-label">Search Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/search-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <!-- Date Input -->
        <div>
            <label for="input1" class="default-theme-label">Date Input</label>
            <div class="input-container">
                <input type="date" id="dateInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Date Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <div>
            <label for="input1" class="default-theme-label">NG Select</label>
            <div class="input-container">
                <ng-select id="ng-select" class="form-input border-0" [items]="cars" bindLabel="name" bindValue="id"
                    [clearable]="true" placeholder="Select an Option" [(ngModel)]="selectedCar2"
                    [ngModelOptions]="{ standalone: true }">
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <div class="custom-option">
                            <span class="item-label">{{ item.name }}</span>
                            <span *ngIf="selectedCar2 === item.id" class="check-icon">&#10003;</span>
                        </div>
                    </ng-template>
                </ng-select>
                <label for="weekInput" class="form-label">Single Select</label>
                <!-- <i class="input-icon">🔽</i> -->
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <div>
            <label for="input1" class="default-theme-label">NG Multiselect</label>
            <div class="input-container">
                <ng-multiselect-dropdown id="ng-multiselect" class="form-input border-0"
                    [placeholder]="'custom placeholder'" [settings]="dropdownSettings2" [data]="dropdownList2"
                    [(ngModel)]="selectedItems2" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                    [ngModelOptions]="{ standalone: true }">
                </ng-multiselect-dropdown>
                <label for="weekInput" class="form-label">Multi Select</label>
                <i class="input-icon multi"><img class="icon multi" src="assets/images/angle-down-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>
        <!-- Time Input -->
        <div>
            <label for="input1" class="default-theme-label">Time Input</label>
            <div class="input-container">
                <input type="time" id="timeInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Time Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/time-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <!-- Datetime-local Input -->
        <div>
            <label for="input1" class="default-theme-label">Date Time Local</label>
            <div class="input-container">
                <input type="datetime-local" id="datetimeInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Date Time Local</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <!-- Month Input -->
        <div>
            <label for="input1" class="default-theme-label">Month Input</label>
            <div class="input-container">
                <input type="month" id="monthInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Month Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <!-- Week Input -->
        <div>
            <label for="input1" class="default-theme-label">Week Input</label>
            <div class="input-container">
                <input type="week" id="weekInput" class="form-input  " placeholder=" " />
                <label for="weekInput" class="form-label">Week Input</label>
                <i class="input-icon"><img class="icon" src="assets/images/date-range-svgrepo-com.svg" alt="" /></i>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Check box</label>
            <div class="input-container">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Checked checkbox
                    </label>
                </div>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>

        <div>
            <label for="input1" class="default-theme-label">Radio buttons</label>
            <div class="input-container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Default checked radio
                    </label>
                </div>
                <span class="tooltip-icon" data-tooltip="This is a tooltip">
                    <img class="icon-type" src="assets/images/question-circle-icon.svg" alt="" />
                </span>
            </div>
            <label for="" class="input-validation">
                <span>This field is required <span>*</span></span>
            </label>
        </div>
    </div>
</div>


