#ng-select,
#ng-multiselect,
.multiselect-dropdown .dropdown-btn,
.form-input {
  padding: 0;
  height: 45px;
}
.ng-select-container {
  height: 100% !important;
}

.multiselect-dropdown {
  height: 100% !important;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%) !important;
  left: 0;
  width: 100%;
}
.multiselect-dropdown .dropdown-btn {
  display: flex !important;
  align-items: center !important;
}

.inside-floating-theme span.dropdown-btn {
  display: flex !important;
  align-items: end !important;
}

.floating-theme .multiselect-dropdown .dropdown-btn {
  border: none !important;
}

.floating-theme .ng-select .ng-select-container {
  border: none !important;
}

.ng-select .ng-arrow-wrapper {
  padding-right: 9px !important;
}

span.dropdown-multiselect__caret {
  display: none !important;
}

.inside-floating-theme .validation-border-bottom .ng-select-container {
  border-bottom: 2px solid red !important;
}
.inside-floating-theme .validation-border-bottom span.dropdown-btn {
  display: flex !important;
  align-items: center !important;
  border-bottom: 2px solid red !important;
}
.inside-floating-theme .multiselect-dropdown .dropdown-btn {
  padding-top: 14px !important;
}
